{% extends "blogs/base.html" %} {% block content %}
<div class="container">
  <h1>Cooking</h1>
</div>
<div class="main container">
  <div class="row">
    <div class="col-md-12">
      {% for post in cooking_posts %}
      <ul class="list-group">
        <li class="list-group-item mb-4 border rounded shadow-sm">
          <strong class="mb-2" style="color: {{ post.get_color}}"
            >{{ post.category|title }}</strong
          >
          <h3 class="mb-0">{{ post }}</h3>
          <p class="mb-1 text-muted">
            {{ post.created_on|date:"F n, Y" }} by
            <a href="#">{{ post.author }}</a>
            <span>{{ post.when_posted }}</span>
          </p>
          <p><em>{{ post.description }}</em></p>
          <p>{{ post.content|truncatewords:25 }}</p>
          <a class="stretched-link" href="{% url 'blogs:post' post.id %}"></a>
        </li>
      </ul>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
